html,body{
  margin: 0px;
  font-family: 'Roboto Slab', serif;
}
a:visited{

  text-decoration: none;
}
.btn{
  background-color: inherit;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 10px 12px;
  cursor: pointer;
}

.no-margin{
  margin: 0px;
}
#logo{
  font-size: 1.2em;
}
.red{
  color: #E74C3C !important
}
.be-red{
  background-color: #A2071A
}
.white{
  color: white;
}
.large-padding{
  padding: 10px 5px;
}
.field,.top-space,.actions{
  margin-top: 1em;
}

.text-left{
  text-align:left;
}
.form-control{
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size:  1.5em;
}
